<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>testDBConnect</servlet-name>
        <servlet-class>testpackage.testDBConnect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginVerify</servlet-name>
        <servlet-class>System.loginVerify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>applyCourse</servlet-name>
        <servlet-class>System.applyCourse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>testDBConnect</servlet-name>
        <url-pattern>/testDBConnect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginVerify</servlet-name>
        <url-pattern>/loginVerify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>applyCourse</servlet-name>
        <url-pattern>/applyCourse</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
